<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>DominoApp</display-name>
    <servlet>
        <servlet-name>DominoController</servlet-name>
        <servlet-class>com.my.GameDomino.controller.DominoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DominoController</servlet-name>
        <url-pattern>/setDominoList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>com.my.GameDomino.controller.HistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/showResult</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>